*{

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{

  background: black;
}

.container{

  width: 90vw;
  height: 100vh;
  background: rgb(209, 210, 200);
  margin: auto;
  color: rgb(109, 114, 117);
}

header{

  position: fixed;
  background: rgb(88, 132, 117);
  height: 100px;
  width: 90vw;
}

.wrapper{

  height: 95%;
  width: 70%;
  background: white;
  margin: auto;
  position: absolute;
  top: 20px;
  right: 200px;
  display: flex;
}

.wrapper-left {

width: 25%;
background-color: rgb(226, 220, 212);
border: 1px solid rgb(164, 164, 164);
}

.wrapper-right{

width: 75%;
border: 1px solid rgb(164, 164, 164);
}

.contact-info{

  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(164, 164, 164);
  text-align: left;
}

h5 {
  color: black;
}

.status-txt {
  color: black;
}

#r{

position: relative;
right: 15px;
}

#rr{

position: relative;
right: 10px;
}

.contact-info div{

  margin: 15px;
}

.contact-info img{

width: 30px;
height: 30px;
border-radius: 50%;
}

.user-info img{

width: 40px;
height: 40px;
border-radius: 50%;
}

.icons  {

display: flex;
justify-content: flex-end;
}

.icons i {

margin: 0 4px;
}

.icons1  {

display: flex;
justify-content: flex-end;
}

.icons1 i {

margin: 0 4px;
}

.status{

  height: 50px;
  width: 100%;;
  background: rgb(168, 217, 250);
  display: flex;
  justify-content: center;
  align-items: center;
}

.status div{

  margin: 10px;
  font-size: 12px;
}

div.s-icon{

  height:30px;
  width: 30px;
  background: white;
  text-align: center;
  border-radius: 50%;

}

.fa-bell-slash{
  text-align: center;
  color: rgb(168, 217, 250);
  margin: 8px;
}

.input {

display: flex;
height: 40px;
justify-content: center;
align-items: center;
border-bottom: 1px solid rgb(164, 164, 164);
}

#myInput {

  width: 70%;
  height: 25px;
}
#myBtn {

  width: 30px;
  height: 25px;
}

.wrapper-right {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image:  url("msg-background.jpg");
}

.user-info{

display: flex;
justify-content: space-between;
align-items: center;
height: 55px;
padding: 10px;
background-color: rgb(226, 220, 212);
border-bottom: 1px solid rgb(164, 164, 164);
}

.wrapper-right-container {

  background: url("msg-background.jpg");
  background-size: cover;

  height: 100%;
  width : 100%;
  overflow-x: scroll;
}

.wrapper-input {

display: flex;
height: 40px;
justify-content: center;
align-items: center;
background-color: rgb(226, 220, 212);
}

.smile{

  margin-right: 25px;
  font-size: 30px;
}

#wrapperInput{

  width: 80%;
  height: 25px;
}

#wrapperButton1, #wrapperButton2, #content {

  width: 30px;
  height: 25px;
}

.wrap {

  display: flex;
  flex-direction: column;
}



.message {


  position: relative;
}

.message.sent{

  background: rgb(209, 247, 153);
    font-size: 30px;
    width: 40%;
    position: relative;
    left: 358px;
    padding: 10px;
    border: 1px solid rgb(164, 164, 164);
    margin-bottom: 30px;
    border: 5px;
}


.message.received{

    background: white;
    font-size: 30px;
    width: 40%;
    border: 1px solid rgb(164, 164, 164);
    margin-left: 20px;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
}

.message h6 {

  position: absolute;
  bottom: 0;
  right: 0;
}
